<style type="text/css"><!--a{ text-decoration: none;color:737373} a:hover { text-decoration: none;color:blue} -->

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
}
.link a:link{color:#255d4d;text-decoration:underline;}
.link a:visited{color:#255d4d;text-decoration:underline;}
.link a:hover{color:#255d4d;text-decoration:underline;}


.input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #263a90;
	border:1px solid #BFDFDF;
}
.inputdeletar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #781515;
	border:1px solid #BFDFDF;
}
.inputconsultar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #263a90;
	border:1px solid #BFDFDF;
}
.inputobrigatorio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
	border: 1px solid #BFDFDF;
	background-color: #FFFFCE;
	height: 15px;
}
.inputobrigatorio2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
	border: 1px solid #BFDFDF;
	background-color: #FFFFCE;
	height: 30px;
}
.inputobrigatorio3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
	border: 1px solid #BFDFDF;
	background-color: #FFFFCE;
	height: 70px;
}

.bordatabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border: #E4F1F1;
	border-color: #E4F1F1;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.botao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6dacd2;
	text-align: center;
	vertical-align: middle;
	height: 16px;
	width: auto;
	cursor: hand;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #263a90;
	border-bottom: 1px solid #263a90;
	border-left: 1px solid #FFFFFF;
}

.fundoescuro {
	background-color: #6dacd2;
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;


}

.fundoclaro {
	background-color: #d8f0ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #263a90;

}
.fundobranco {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #263a90;

}
.inputfocus {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
	border:1px solid #BFDFDF;
	background-color: #FAF1DC;
	height: 15px;
}
.inputfocus2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #255d4d;
	border:1px solid #BFDFDF;
	background-color: #FAF1DC;
	height: 30px;
}
.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #263a90	;
	border: none;
}
.tabela_rolagem
{
  SCROLLBAR-FACE-COLOR: #BFDFDF;
  SCROLLBAR-ARROW-COLOR: #255d4d;
  SCROLLBAR-HIGHLIGHT-COLOR: #E9EEF3;
  SCROLLBAR-SHADOW-COLOR: #255d4d;
  SCROLLBAR-3DLIGHT-COLOR: #CACACA;
  SCROLLBAR-TRACK-COLOR: #E4F1F1;
  SCROLLBAR-DARKSHADOW-COLOR: #000401;
  overflow: auto;
  width: 785px;
}

.linhaimpar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border:1px solid #BFDFDF;
	background-color: #B0C4DE;
}

.linhapar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4682B4;
	border:1px solid #BFDFDF;
	background-color: #FFFFFF;
}

#buss {
    width: 588px;
    *width: 588px;
    height: 221px;
    background-image:  url("images/BUSS.gif");
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: left;
    padding-left: 110px;
}

td.ocupada {
    height: 34px;
    width: 36px;
    background-image: url('images/bancOcupada.gif');
    background-repeat: no-repeat;
    cursor: default;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-indent: 9px;
}

td.seleccionada {
    height: 34px;
    width: 36px;
    background-image: url('images/bancSelecionada.gif');
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-indent: 9px;
}

td.libre {
    height: 34px;
    width: 36px;
    background-image: url('images/bancLivre.gif');
    background-repeat: no-repeat;
    cursor:pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-indent: 9px;
}

#buss table tr td {
    padding: 0px;
    margin: 0px;
	width: 550px;
}

#buss table {
    margin-top: 2px;
    margin-left: 5px;
	width: 550px;
}

#buss table tr td {
    /*background-color: #333333;*/
    height: 40px;
}

#fndLegenda {
    width: 300px;
    height: 50px;
    margin-top: -3px;
    background-image: url("images/fndLegenda.gif");
    background-repeat: no-repeat;
    font-size: 12px;
    padding-top: 3px;;
}

#fndLegenda img {
    float: left;
    margin-left: 200px;
}
</style>
